# Practice

## 1. Print numbers 1 to 10

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## 2. Print even numbers from 2 to 20

In [3]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

## 3. Print multiplication table of 5

In [4]:
for n in range(1, 11):
    print("5 x", n, "=", 5 * n)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## 4. Print each character of a word

In [5]:
word = "Python"

for i in word:
    print(i)

P
y
t
h
o
n

## 5. Sum of numbers from 1 to 100

In [6]:
total = 0

for i in range(1, 101):
    total = total + i
    print("Sum = ", total)

Sum =  1
Sum =  3
Sum =  6
Sum =  10
Sum =  15
Sum =  21
Sum =  28
Sum =  36
Sum =  45
Sum =  55
Sum =  66
Sum =  78
Sum =  91
Sum =  105
Sum =  120
Sum =  136
Sum =  153
Sum =  171
Sum =  190
Sum =  210
Sum =  231
Sum =  253
Sum =  276
Sum =  300
Sum =  325
Sum =  351
Sum =  378
Sum =  406
Sum =  435
Sum =  465
Sum =  496
Sum =  528
Sum =  561
Sum =  595
Sum =  630
Sum =  666
Sum =  703
Sum =  741
Sum =  780
Sum =  820
Sum =  861
Sum =  903
Sum =  946
Sum =  990
Sum =  1035
Sum =  1081
Sum =  1128
Sum =  1176
Sum =  1225
Sum =  1275
Sum =  1326
Sum =  1378
Sum =  1431
Sum =  1485
Sum =  1540
Sum =  1596
Sum =  1653
Sum =  1711
Sum =  1770
Sum =  1830
Sum =  1891
Sum =  1953
Sum =  2016
Sum =  2080
Sum =  2145
Sum =  2211
Sum =  2278
Sum =  2346
Sum =  2415
Sum =  2485
Sum =  2556
Sum =  2628
Sum =  2701
Sum =  2775
Sum =  2850
Sum =  2926
Sum =  3003
Sum =  3081
Sum =  3160
Sum =  3240
Sum =  3321
Sum =  3403
Sum =  3486
Sum =  3570
Sum =  3655
Sum =  3741
Sum =  3828
Sum =  3916
Sum =  4005
Sum =  4095
Sum =  4186
Sum =  4278
Sum =  4371
Sum =  4465
Sum =  4560
Sum =  4656
Sum =  4753
Sum =  4851
Sum =  4950
Sum =  5050